@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
   font-family: "Jost", sans-serif;
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
body{
   height: 100vh;
   width: 100%;
   background-image: url('./image/pexels-photo-4284288.webp');
   background-position: center;
   background-size: cover;
}
.box{
   width: 500px;
   height: auto;
   padding: 30px;
   margin-top: 40px;
   border-radius: 10px;
   background: rgb(218, 218, 206);
   filter: drop-shadow(8px 8px 10px rgb(159, 159, 124));
   display: flex;
   flex-direction: column;
}
.box h4{
   color: #464141;
   text-align: center;
   font-weight: 300;
}
.box h6{
   color: #794f4f;
   text-align: center;
   margin-top: 20px;
   font-size: 1.3rem;
   text-transform: uppercase;
}
.box button{
   background-color: #2d2b2b;
   color: #fff;
   margin-top: 30px;
   width: 120px;
   align-self: center;
}
.box button:hover{
   color: rgb(214, 211, 206);
   background-color: #454141;
}

@media (max-width : 786px) {
   
   body{
      background-position: center;
      background-size: cover;
      
   }
}